@font-face {
    font-family:'sunflower';
    src: url('./font/sunflower.woff') format('woff'),
    url('./font/sunflower.ttf') format('truetype');
  }
@font-face {
    font-family:'omnigothic';
    src: url('./font/omnigothic.woff') format('woff'),
    url('./font/omnigothic.ttf') format('truetype');
}

  
  body {
    margin: 0;
    background-color: #ffffff;
    font-family: "sunflower",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height:1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
  }
  
  